<div ng-include="'views/header.html'"></div>
<div class="container">
 <div class="page-header" style="background-color: #FAF0E6;">
			<h4>Rest Execution Manager</h4>	
</div>	
 <!-- <br/>
    <label for="FileName">Enter Suite File Name:</label>
     <input type="text" name="suiteFileName" class="form-control"  style="width:150px;" ng-model="execution.testSuiteFileName"> -->
 <label> <p>Rest API Test Suite execution completed successfully</p></label>
  <!-- <br/>    
    <input action="action" type="button" class ="btn btn-primary" value="Back" onclick="history.go(-1);" /> -->
 </div>