<div ng-include="'views/header.html'"></div>
 <div class="page-header em">
      <h4>Execution Manager</h4>      
 </div>
<div class="container">	
    <div class="row row-centered">
        <div class="col-xs-6 col-centered">
        <a class="pure-menu-heading testing" href="#/invokeExecutionManager">
      <img alt="uiexecution" ng-src="/images/uiExecution.png" ng-click="invokeUIExecutionManager()"/>
 </a></div>
        <div class="col-xs-6 col-centered">
        <a class="pure-menu-heading testing" href="#/restApiManager" style="margin-left:150px;">
      <img alt="restapi" ng-src="/images/restImageApi.png" ng-click="invokeRestAPIExecutionManager()"/>
 </a></div>
   </div>
 </div>