<!-- <div class="footer">
	<div class="panel-footer text-center">
		<p class="tcenter">
		<a class="pure-menu-heading" href="#">
                <img class="logo" src="/images/copyright.jpeg">
         </a><h4>{{ footerText }}
		</h4>
	</div>
</div> -->
<div class="footer">
	<div class="panel-footer text-center">
		<p class="tcenter">
		<!-- <a class="pure-menu-heading" href="#">
                <img class="logo" src="/images/copyright.jpeg">
         </a> --><h4 class="footer-desc">Copyright<sup>&#169;</sup> 2016 Ness Technologies. All Rights Reserved.
		</h4>
	</div>
</div>